/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**Special Fonts**/
/**font-family: 'Special Elite', cursive;
/**font-family: 'Montserrat', sans-serif;
/*************************************************************************************************************************/
/**Globals**/
body{
	background:url(images/background.gif) repeat;
	margin:0px;
}
.container{
	min-width:1350px;
	overflow:hidden;
}
.clear{
	clear:both;
}
.clearLeft{
	clear:left;
}


/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**AppLoad**/
#appPreView{
	background:none;
	float:left;
	margin-left:325px;
}
#loader h5{
	color:#ffffff;
	font-size:18px;
}


/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**header**/
.header{
	height:260px;
}
/**Top Third**/

.buyerLoggedIn .hideIfLoggedIn {
	display:none;
}
.hideIfLoggedOut {
	display:none;
}
.buyerLoggedIn .hideIfLoggedOut {
	display: block;
} /* may be 'block' */
.buyerLoggedIn span.hideIfLoggedOut {
	display: inline;
} /* ensures inline on span elements */

.headerTopThird{
	width:100%;
	height:46px;
	background-image:url(images/header_background.png);
	overflow:visible;
	padding-top:6px;
}
.headerTopThird h5{
	display:inline;
	color:#ffffff;
	font-size:16px;
}
.headerTopThird h6{
	display:inline;
	color:#ffffff;
	font-size:12px;
}
.headerTopThird a{
	color:#ffffff;
}
.headerLoginLink{
	margin-left:10px;
}
.headerCartLink{
	margin-right:200px;
}
.headerHelpLink{
	margin-right:20px;
}
/**Mid Third**/
.headerMidThird{
	padding-top:40px;
}
.homepageLink{
	margin-left:100px;
}
.productSearchForm{
	width:320px;
	height:100px;
	float:right;
	margin-right:100px;
}
/**.searchBorder{
	z-index:2;
	width:320px;
	color:rgba(.1, .1, .1, .5);
}**/
.searchArea{
	padding-top:12px;
	background-color:rgba(200, 200, 200, .2);
	border: medium none;
}
#searchBarInput{
	width:200px;
	float:left;
	height:26px;
}
#searchBarButton{
	color:#000000;
	background-color:#3fb8af;
	border:none;
	float:left;
	height:32px;
	width:85px;
}
/*************************************************************************************************************************/
/**Bottom third**/
.navBarBrands{
	background-size:cover;
	width:120px;
	height:60px;
	margin-left:30px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarBrands:active{
	color:#000000;
}
.navBarBrands:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarBrands ul{
	left:5px;
	top:250px;
}
.navBarEyes{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarEyes:active{
	color:#000000;
}
.navBarEyes:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarEyes ul{
	left:5px;
	top: 250px;
}
.navBarLips{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarLips:active{
	color:#000000;
}
.navBarLips:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarLips ul{
	left: 59px;
	top: 250px;
}
.navBarFace{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarFace:active{
	color:#000000;
}
.navBarFace:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarFace ul{
	left: 179px;
	top: 250px;
}
.navBarAccess{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarAccess:active{
	color:#000000;
}
.navBarAccess:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarAccess ul{
	left: 299px;
	top: 250px;
}
.navBarSkin{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarSkin:active{
	color:#000000;
}
.navBarSkin:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarSkin ul{
	left: 419px;
	top: 250px;
}
.navBarNails{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarNails:active{
	color:#000000;
}
.navBarNails:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarNails ul{
	left: 539px;
	top: 250px;
}
.navBarFragrance{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarFragrance:active{
	color:#000000;
}
.navBarFragrance:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarFragrance ul{
	left: 659px;
	top: 250px;
}
.navBarHair{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarHair:active{
	color:#000000;
}
.navBarHair:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarHair ul{
	left: 779px;
	top: 250px;
}
.navBarJewel{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarJewel:active{
	color:#000000;
}
.navBarJewel:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}
.navBarJewel ul{
	left: 879px;
	top: 250px;
}
.navBarSale ul{
	left: 879px;
	top: 250px;
}
.navBarSale{
	background-size:cover;
	width:120px;
	height:60px;
	color:#ffffff;
	text-align:center;
	line-height:62px;
	float:left;
	font-family: 'Special Elite', cursive;
}
.navBarSale:active{
	color:#000000;
}
.navBarSale:hover{
	background-image:url(images/header_nav_bar/brands.png);
	color:#000000;
}

.dropdown {
	overflow: hidden;
	z-index:2;
	position:absolute;
}
.headerDropdown{
	height: 0px;
	width: 500px;
	float:left;
	background-image:url(images/header_nav_bar/dropdownbackground.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.headerDropdownBrand{
	height: 0px;
	width: 780px;
	float:left;
	background-image:url(images/header_nav_bar/dropdownbackground.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.headerDropdownLink{
	line-height:25px;
}
.headerDropdownLink a{
	text-decoration:none;
	color:white;
	font-family: 'Montserrat', sans-serif;
}
.headerDropdownLink a:hover{
	color:#3fb8af;
}
.dropdownSpacer{
	width:100%;
	height:50px;
}
.dropdownSpacerBrand{
	width:100%;
	height:50px;
}
.headerDropdownBrand ul{
	float:left;
	height:100%;
	width:170px;
	margin-left:20px;
	list-style:none;
}
.headerDropdown ul{
	list-style:none;
}
.headerDropdown li{
	list-style:none;
}



/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**main content area**/
#mainContentArea{
	float:left;
	width:1350px;
}


/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**Footer**/
.footer{
	float:left;
}

/*************************************************************************************************************************/
/**Top Third**/

.footerTopThird{
	width:100%;
	height:65px;
	background-color:#3fb8af;
	border-bottom:solid 5px #7fc7af;
}
.footerTopThird H5{
	float:right;
	font-family: 'Montserrat', sans-serif;
	
}
.footerTopThird H6{
	float:right;
	font-family: 'Montserrat', sans-serif;
}
.footerNewsLabel{
	margin-left:170px;
	margin-top:16px;
}
.footerTwit{
	margin-top:16px;
	float:right;
	margin-right:100px;
}
.footerFb{
	margin-top:16px;
	float:right;
	margin-right:20px;
}
#subscribeFrm{
	height:52px;
	width: 800px;
	float:right;
}
.userInfo{
	height:52px;
	width: 800px;
	border:none;
}
.subName{
	float:left;
	height:30px;
	width:200px;
	margin-top:8px;
	margin-right:15px;
}
.subEmail{
	float:left;
	height:30px;
	width:200px;
	margin-top:8px;
}
.subButton{
	float:left;
	height:37px;
	width:125px;
	margin-top:8px;
	background-color:#000000;
	font-family: 'Special Elite', cursive;
	border-radius:0px;
	color:#ffffff;
	border:none;
	font-size:18px;
}
.subscriberLists{
	float:left;
}

/*************************************************************************************************************************/
/**Mid Third**/

.footerMidThird{
	border-bottom:solid 5px #7fc7af;
	background-color:#000000;
	height:370px;
	width:100%;
}
.footerMidThird h3{
	color:#3fb8af;
	font-family: 'Special Elite', cursive;
	font-size:20px;
	font-weight:200;
	margin-left: 40px;
	margin-top: 40px;
}
.footerMidThird li{
	margin-top:15px;
}
.footerMidThird a{
	color:#ffffff;
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
	text-decoration:none;
}
.footerMidThird a:hover{
	color:#ff3d7f;
}

/*************************************************************************************************************************/
/**Bottom Third**/
.footerBottomThird{
	width:100%;
	height:500px;
}
.footerBottomThird h1{
	color:#ee3a77;
	font-family: 'Special Elite', cursive;
	margin-top:20px;
	margin-left:20px;
	font-weight:100;
}
.footerBottomThird p{
color:#ffffff;
margin-left:20px;
}
.footerBottomThird h4{
	display:inline;
	margin-right:120px;
	margin-left:120px;
	line-height: 140px;
}
.footerRibbon{
	background:url(images/footer/splatter.png) 200px 4px no-repeat, url(images/footer/ribbonbar.png) left center repeat-x;
	width:100%;
	height:140px;
	text-align:center;
}

/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**Homepage**/
/**homepageTopSec**/
.homepageTopSec{
	position:relative;
}
.carouselHPBannerCont{
	position:relative;
	height:590px;
	width:940px;
	margin-left:10px;
	float:left;
}
.carouselHPBannerCont div.caroufredsel_wrapper{
	float:left;
	clear:both;
}
.carouselHPBannerList li{
    width:920px;
    height: 500px;
    padding: 0;
    display: block;
    float: left;
}
.carouselHPButton{
	position:absolute;
	height:480px;
	z-index: 1;
}

.carouselHPBannerList img{
	width:900px;
    height: 480px;
}
#paginCaro{
	position:absolute;
	bottom:110px;
	left:440px;
	height:20px;
	width:100px;
	z-index:2;
	overflow: visible;
}
#paginCaro a{
	background-image:url(images/homepage/pagination_non_vis.png);
	width:17px;
	height:17px;
	display:block;
	float:left;
	margin:3px;
}
#paginCaro a span{
	display:none;
	}
#paginCaro a.selected{
	background-image:url(images/homepage/pagination_vis.png);
}

.homepageSignUp{
	height:480px;
	width:370px;
	background-image:url(images/homepage/newsletterbg.png);
	float:left;
	margin-top: 16px;
}

.homepageSignUp div{
	padding-top:10px;
	width:100%;
}

.homepageSignUp div h2, h1{
	color:white;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

.homepageSignUp div #subscribeFrm{
	float: right;
    height: 150px;
    margin-right: 0px;
    width: 350px;
}

.homepageSignUp div hr{
	width:100px;
	display:inline-block;
	color:#313131;
	margin-left:15px;
	margin-top:15px;
}
.homepageSignUp div h3{
	display:inline-block;
	color:#313131;
	vertical-align:3px;
	margin-left:15px;
	margin-top:15px;
}

.userInfo2{
	float:right;
	width:100%;
	height:200px;
	border: medium none;
}

.userInfo2 input{
	margin-bottom:10px;
	margin-right:23px;
	margin-left:20px;
}

.homepageSubInput{
	width:85%;
	height:30px;
}

.homepageSubButton{
	background-color: #000000;
    border: medium none;
    border-radius: 0 0 0 0;
    color: black;
    float: right;
    font-family: 'Special Elite',cursive;
    font-size: 18px;
    height: 37px;
    margin-top: 8px;
    width: 125px;
	padding-top:12px !important;
}

.homepageSignUp div.socMed{
	width:100%;
	height:50px;
	float:left;	
}

.socMed img{
	margin-left:30px;
}

.homepageSignUp div.homepageSignUpBottom{
	float:left;
	width:100%;
	height:122px;
	background-image:url(images/homepage/newsletterSwatch.png);
	background-size:cover;
	background-repeat:no-repeat;
}

/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**Category Page**/

.breadcrumb{
	text-align:center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.breadcrumb a{
	color:#349890;
	text-decoration:none;
}
.breadcrumb li a:hover{
	color:#ff3d7f;
}
.breadcrumb li:last-child a{
	color:white;
}
.catName{
	color:black;
}
.catListingCont{
	width:100%;
}
div .catListingCat{
	width:19% !important;
	height:150px !important;
	background:url(images/category_page/category_listing_norm.png);
	background-repeat:no-repeat;
	background-size:contain;
	float:left;
	margin-left:60px;
}
div .catListingCat:hover{
	background:url(images/category_page/category_listing_hover.png);
	background-repeat:no-repeat;
	background-size:contain;
}
.catListingCat h1{
	line-height: 155px;
	font-family: 'Special Elite', cursive;
	font-weight: 400;
	color:black;
}
.categoryTemplate h2{
	color:#3fb8af;
	float: left;
	font-family: 'Special Elite', cursive;
	font-weight: 200;
    margin-left:60px;
	margin-bottom:20px;
    padding-top: 15px;
	clear:both;
}
.categoryTemplate h3{
	color:#ff3d7f;
	font-size:24px;
	float: left;
	font-family: 'Special Elite', cursive;
	font-weight: 200;
    margin-left:60px;
	margin-bottom:20px;
    padding-top: 15px;
	clear:both;
}

.brandList{
	width:100%;
	height:570px;
	float:left;
	padding-left: 20px;
}
.brandList ul{
	width:22%;
	float:left;
}
.brandList li{
	font-family: 'Montserrat', sans-serif;
	list-style:none;
	margin-bottom:5px;
}
.brandList a{
	color:white;
}
.brandList a:hover{
	color:#3fb8af;
}
.suite7List{
	width:100%;
	height:400px;
	float:left;
	padding-left: 20px;
}
.suite7List ul{
	width:22%;
	float:left;
}
.suite7List li{
	font-family: 'Montserrat', sans-serif;
	list-style:none;
	margin-bottom:5px;
}
.suite7List a{
	color:white;
}
.suite7List a:hover{
	color:#ff3d7f;
}


/*************************************************************************************************************************/
/**productListTemplate**/
.productList{
	padding-left:45px;
	padding-right: 20px;
}
.productList li{
	width: 290px;
	height:330px;
	margin-bottom:20px;
}
.prodThumbContainer{
	border:solid 6px rgba(200, 200, 200, .2);
	width:278px;
	margin-bottom:10px;
}
.prodListDetails h5{
	color:#b4b5b4;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	height: 40px;
}
.prodListPriceBuyCont{
	width:100%;
	height:81px;
}
.prodListPriceBuyCont div{
	width:50%;
	height:50px;
	float:left;
	background-color:rgba(200, 200, 200, .2);
}
.prodListPriceBuyCont h1{
	color:white;
	font-family: 'Special Elite', cursive;
	line-height:57px;
	font-size: 24px;
}
.prodListPriceBuyCont form{
	float:right;
	width:50%;
	height:50px;
}
.prodListPriceBuyCont button{
	width:100%;
	float:left;
	height:50px;
	font-family: 'Special Elite', cursive;
	font-size: 20px;
	border-radius: 0 0 0 0;
	border: medium none;
}

.prodListPriceBuyCont h4{
	color:#a7a8a7;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}
.prodListPriceBuyCont span{
	font-size:8px;
}
.prodViewerAddToCartForm button span{
	font-size: 20px;
}
.price span{
	font-size: 14px;
}

.mpControlContainer{
	height:45px;
}
.mpControls{
	background-color:black;
	background-image:none;
	color:white;
	border:none;
	height:45px;
	line-height:43px;
	padding-right: 570px;
}
.mpControls div{
	line-height: 43px;
}
.mpControlContainer span{
	color:white;
}
.mpPaginationColor span{
	color:#3fb8af;
}
.mpControlContainer span:hover{
	color:#ff3d7f;
}
ul .mpControlJumpToPage{
	line-height:15px;
	margin-left: 3px !important;
	margin-bottom: 7px !important;
}

/*************************************************************************************************************************/
/**categoryListTemplate**/
.categoryList{
	margin-bottom:40px;
}
.categoryList > li{
	height: 30px;
	margin-bottom:0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	width: 23%;
	text-align: center;
	line-height: 130px;
}
.catName span:hover{
}


/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**Product Page**/
.prodViewerContainer{
	height:800px;
}
/*************************************************************************************************************************/
/**Product Image section**/
.imageContainer{
	padding-right:0px;
	margin-right:24px;
	float:left;
	width:25%;
	height:800px;
	margin-left:45px;
}
div .tagsContainer{
	border:none;
}
.imageContainer div{
	border:solid 6px rgba(200, 200, 200, .2);
	width: 340px;
	float:left;
}
.prodViewerContainer .prodThumbs div{
	width: 100px;
}
div .prodThumbs{
	margin-top:10px;
	border:none;
}
div .socialLinks{
	border:none;
}



/*************************************************************************************************************************/
/**Product Summary Section**/

.prodSummaryContainer{
	float:left;
	width:40%;
	height:800px;
	margin-right:10px;
}
.prodSummaryContainer h1{
	font-size:22px;
	font-family: 'Montserrat', sans-serif;
	text-align:left;
	line-height: 20px;
}
.prodSummaryContainer h5{
	color:white;
	font-family: 'Montserrat', sans-serif;
}
.prodSummaryContainer div {
	color:white;
	font-family: 'Montserrat', sans-serif;
}

/*************************************************************************************************************************/
/**Product Price/Cart/Review Section**/
.priceReviewContainer{
	width:20%;
	float:left;
	height:800px;
	margin-left: 40px;
}
.priceReviewContainer h4{
	color:white;
	font-size:14px;
	font-family: 'Montserrat', sans-serif;
	text-align:center;
}

.priceContainer{
	width:100%;
}
.priceContainer h4{
	font-family: 'Montserrat', sans-serif;
}
.priceContainer h1{
	color:#ff3d7f;
	font-family: 'Montserrat', sans-serif;
}
.priceContainer h2{
	font-family: 'Montserrat', sans-serif;
	color:#ff9e9d;
	text-decoration:line-through;
	text-align:center;
}
.priceContainer h3{
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	color:#3fb8af;
}
.savingsPercentage{
	font-size: 10px;
    vertical-align: text-top;
}
.savingsDifference{
	margin-left:100px;
}

.prodViewerAddToCartForm{
	width:100%;
}
.prodViewerAddToCartForm fieldset{
	width:100%;
}
.prodViewerAddToCartForm input{
	width:60%;
}
form .prodQuantity{
	width:60%;
	height:32px;
	background-color:rgba(200, 200, 200, .2);
	border: medium none;
	padding: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
}
.prodQuantity fieldset{
	width:60%;
	float:left;
}
.prodQuantity input{
	width:100%;
	height:30px;
	border-radius:0px;
	border:none;
}
div .quantityButton{
	width:40%;
	height:32px;
	float:left;
	border-radius:0px;
	border:medium none;
	background-color:#3fb8af;
	font-family: 'Special Elite', cursive;
	font-size: 16px;
}

form .addToCartButton{
	margin-left:50px;
	width: 67%;
	border: medium none;
    border-radius: 0 0 0 0;
	height: 50px;
	font-family: 'Special Elite', cursive;
	font-size: 22px;
}

.reviewButton{
	margin-left:50px;
	width: 67%;
	border: medium none;
    border-radius: 0 0 0 0;
	height: 50px;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	margin-bottom:20px;
	background-color:#ff3d7f;
}
.writeReviewButton{
	margin-left:50px;
	width: 67%;
	border: medium none;
    border-radius: 0 0 0 0;
	height: 50px;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	color:white;
	background-color:black;
	margin-bottom:20px;
}
.wishlistButton{
	margin-left:50px;
	width: 67%;
	border: medium none;
    border-radius: 0 0 0 0;
	height: 50px;
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	color:white;
	background-color:black;
}
h1 .cents{
	font-size: 18px;
	vertical-align:top;
}
h2 .cents{
	font-size: 18px;
	vertical-align:top;
}


/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**Shopping Cart**/
.cartZipCodeContainer, .cartAltButtonsContainer, .cartSummaryContainer{
	border-bottom:none;
}
.ui-widget-content{
	background:url(images/background.gif) repeat;
}
.ui-widget-header{
	background-color:rgba(0, 0, 0, 0);
	background-image:none;
	border:none;
}
.ui-dialog .ui-dialog-title{
	background-color:rgba(0, 0, 0, 0);
	color:#FF3D7F;
}

/*************************************************************************************************************************/
/**Cart Stuff Section**/

.addToWishlistForm{
	border: 6px solid rgba(200, 200, 200, 0.2);
	width: 715px;
	height:160px;
}
.addToWishlistForm div{
	width: 700px;
	height:150px;
	background-color:#ffcc00;
	padding-left:15px;
	padding-bottom:10px;
}
.addToWishlistForm h1{
	font-family: 'Special Elite', cursive;
	font-weight:200;
	color:black;
	padding-top: 10px;
}
.addToWishlistForm p{
	font-family: 'Montserrat', sans-serif;
	padding-top:10px;
}
.wlAddCloseButton{
	float:right;
	font-family: 'Special Elite', cursive !important;
	height: 35px;
	padding: 5px;
	margin-right: 10px;
	border:none;
	border-radius:0px;
	background-color:#000000;
	color:white;
	font-size:14px !important; 
}
.wlAddConfirmButton{
	float:right;
	margin-right: 20px;
	font-family: 'Special Elite', cursive !important;
	height: 35px;
	padding: 5px;
	border:none;
	border-radius:0px;
	background-color:#3fb8af;
	font-size:14px !important;
}

/*************************************************************************************************************************/
/**Checkout and Pricing Section**/
.cartSummaryTotalsContainer{
	width:20%;
}
.cartSummaryContainer h5{
	color:white;
	float:left;
	font-family: 'Montserrat', sans-serif;
	margin-left:20px;
	margin-right:80px;
	text-align:center;
}
.cartSummaryTotalsContainer h2{
	color:white;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding-right:60px;
}
.checkoutButton{
	font-family: 'Special Elite', cursive !important;
	width:220px;
	height:45px;
	border-radius:0px;
	border:none !important;
	font-weight: 200 !important;
	font-size: 22px !important;
	padding-top: 5px;
}

.cartSummaryContainer #couponContainer{
	border: 10px solid rgba(200, 200, 200, 0.2);
	float:right;
	margin-right: 59px;
	margin-bottom:10px;
}
.cartSummaryContainer #couponCode{
	width:130px;
	float:right;
	border:none;
	border-radius:0px;
	height:28px;
}
.cartSummaryContainer #addCouponBtn{
	float:right;
	border:none;
	border-radius:0px;
	height:30px;
	width:70px;
}

/*************************************************************************************************************************/
/**Helpful Links Section**/
.cartLinks{
	margin-top:260px;
	width: 240px;
}
.cartLinks div{
	width:100px;
	height:30px;
	background-color:#ff3d7f;
	width: 240px;
}
.cartLinks h4{
	text-align:center;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
}
.cartLinks a{
	color:white;
	float:left;
	clear:left;
	font-family: 'Montserrat', sans-serif;
	margin-top:15px;
	margin-left: 10px;
	font-weight: 600;
	text-decoration:none;
}
.cartLinks a:hover{
	color:#3fb8af;
}

/*************************************************************************************************************************/
/**Bottom Section**/
.cartStaticText{
	float:left;
	width:700px;
}
.cartStaticText h3{
	color:#3fb8af;
	font-family: 'Special Elite', cursive;
	font-size: 20px;
	font-weight: 200;
}
.cartStaticText p{
	color:white;
	font-size:12px;
}


/*************************************************************************************************************************/
/*************************************************************************************************************************/
/**Company page Templates**/
.sideline{
}
.companyTitleBox{
	width:250px;
	height:40px;
	background-color:#ff3d7f;
	margin-top:30px;
	margin-bottom:15px;
}
.companyTitleBox h3{
	text-align:center;
	line-height:40px;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight:600;
}

#companyNav a{
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
}
#companyNav a:hover{
	color:#3fb8af;
}
#companyNav a:active{
	color:#ff9e9d;
}

/*************************************************************************************************************************/
/**About Template**/
#aboutArticle{
	padding-left:60px;
}
#aboutArticle h1{
	font-family: 'Special Elite', cursive;
	font-weight:200;
	color:#ff3d7f;
	text-align:left;
}
#aboutArticle h4{
	color:white;
	font-family: 'Montserrat', sans-serif;
}
#aboutArticle h5{
	color:#ff3d7f;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
}


	